artifacts/siso_downloads/_expanded/SISO-STD-011-2014CBMLschemas/C-BMLSchemas/cbml-1.0/cbml/cbml-organisation-types/1.0/cbml-organisation-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" schemaLocation="../../jc3iedm-simple-types/3.0.2/jc3iedm-simple-types.xsd"/>
	<xs:include schemaLocation="../../cbml-entity-types/1.0/cbml-entity-types.xsd"/>
	<!-- Concrete Types Definition -->
	<xs:complexType name="Unit">
		<xs:annotation>
			<xs:documentation xml:lang="en">A military ORGANISATION whose structure is prescribed by competent authority.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisation">
				<xs:sequence>
					<xs:element name="FormalAbbreviatedNameText" type="jc3iedm:TextTypeVar100">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string specifying the common formal abbreviation used to designate a specific UNIT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentificationText" type="jc3iedm:TextTypeVar15" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string assigned to represent a unit’s identification.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnitRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Unit - A military ORGANISATION whose structure is prescribed by competent authority.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A MILITARY-ORGANISATION-TYPE whose structure is prescribed by competent authority.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationType">
				<xs:sequence>
					<xs:element name="UnitTypeCategoryCode" type="jc3iedm:UnitTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of UNIT-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArmCategoryCode" type="jc3iedm:UnitTypeArmCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the designation of a military branch for a particular UNIT-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArmSpecialisationCode" type="jc3iedm:UnitTypeArmSpecialisationCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that qualifies the functional specialisation of a particular UNIT-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementarySpecialisationCode" type="jc3iedm:UnitTypeSupplementarySpecialisationCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that supplements the designation of a particular UNIT-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeneralMobilityCode" type="jc3iedm:UnitTypeGeneralMobilityCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the general mobility of a unit, seen as a whole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnitTypeQualifierCode" type="jc3iedm:UnitTypeQualifierCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that conveys additional information on the specified UNIT-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SizeCode" type="jc3iedm:EchelonSizeCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the relative size of the commonly accepted configuration of military formations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrincipalEquipmentTypeRef" type="cbml:AbstractEquipmentTypeRef" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The EQUIPMENT-TYPE that is predominantly associated with a specific UNIT-TYPE for the purpose of identification. Concrete types are: {OtherVesselTypeRef, SubsurfaceVesselTypeRef, SurfaceVesselTypeRef, AircraftTypeRef, CbrnEquipmentTypeRef, ElectronicEquipmentTypeRef, EngineeringEquipmentTypeRef, MaritimeEquipmentTypeRef, MiscellaneousEquipmentTypeRef, RailcarTypeRef, VehicleTypeRef, WeaponTypeRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupportedMilitaryOrganisationTypeRef" type="cbml:AbstractMilitaryOrganisationTypeRef" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The MILITARY-ORGANISATION-TYPE that is supported by a specific UNIT-TYPE. Concrete types are: {ExecutiveMilitaryOrganisationTypeRef, MilitaryPostTypeRef, OtherMilitaryOrganisationTypeRef, TaskFormationTypeRef, UnitTypeRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnitTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some UnitType - A MILITARY-ORGANISATION-TYPE whose structure is prescribed by competent authority.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganisationStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-ITEM-STATUS that is a record of condition of a specific ORGANISATION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractObjectItemStatus">
				<xs:sequence>
					<xs:element name="OperationalStatusCode" type="jc3iedm:OrganisationStatusOperationalStatusCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the operational status of a specific ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OperationalStatusQualifierCode" type="jc3iedm:OrganisationStatusOperationalStatusQualifierCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the qualification of the operational status of a specific ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvailabilityCode" type="jc3iedm:OrganisationStatusAvailabilityCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that gives the availability status of an ORGANISATION without regard to readiness.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommandAndControlRoleCode" type="jc3iedm:OrganisationStatusCommandAndControlRoleCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the role played by a command and control ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommitmentStatusCode" type="jc3iedm:OrganisationStatusCommitmentStatusCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that gives the commitment status of an ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FireModeCode" type="jc3iedm:OrganisationStatusFireModeCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the status of weapons employment constraint for a specific ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CbrnDressStateCode" type="jc3iedm:OrganisationStatusCbrnDressStateCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the Mission Oriented Protective Posture (MOPP) status defining the NBC (CBRN) dress code of a specific ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RadiationDoseQuantity" type="jc3iedm:QuantityType6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the average radiation dose to which the members of an organisation have been exposed. The unit of measure is centiGray (cGy).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReadinessCode" type="jc3iedm:OrganisationStatusReadinessCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that gives the readiness level of an ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReadinessDuration" type="jc3iedm:DurationType19" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents a quantity of time in milliseconds reflecting the maximum interval in which an ORGANISATION is to respond to an immediate order.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReinforcementCode" type="jc3iedm:OrganisationStatusReinforcementCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents whether a specific ORGANISATION has additional or detached strength.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReserveIndicatorCode" type="jc3iedm:OrganisationStatusReserveIndicatorCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents whether a specific ORGANISATION has been placed in reserve.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TrainingCode" type="jc3iedm:OrganisationStatusTrainingCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the assessed training status of a specific ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganisationStatusUsageStatusCode" type="jc3iedm:OrganisationStatusUsageStatusCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the usage of a specific ORGANISATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CivilianPostType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ORGANISATION-TYPE with a set of duties that are intended to be fulfilled by one person in private sector and non-military government organisations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationType">
				<xs:sequence>
					<xs:element name="CivilianPostTypeCategoryCode" type="jc3iedm:CivilianPostTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of CIVILIAN-POST-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CivilianPostTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some CivilianPostType - An ORGANISATION-TYPE with a set of duties that are intended to be fulfilled by one person in private sector and non-military government organisations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Convoy">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ORGANISATION that is a group of vehicles or vessels organised for the purpose of control and orderly movement with or without escort protection.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisation">
				<xs:sequence>
					<xs:element name="DaySpeedRate" type="jc3iedm:RateType8_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the maximum distance per unit time that a specific CONVOY is to maintain during daylight operations. The unit of measure is kilometres per hour. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DayVehicleGapDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the distance between vehicles in a particular CONVOY during daylight operations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HaltDuration" type="jc3iedm:DurationType19" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents a quantity of time in milliseconds representing the aggregated units of time that a specific CONVOY may remain stationary during operations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NightSpeedRate" type="jc3iedm:RateType8_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the maximum distance per unit time that a specific CONVOY is to maintain during operations in darkness. The unit of measure is kilometres per hour. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NightVehicleGapDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the distance between vehicles in a particular CONVOY during operations in darkness.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PacketGapDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the distance between packets in a particular CONVOY.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PacketSizeCount" type="jc3iedm:CountType9" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The integer value that represents the number of vehicles per packet in a particular CONVOY.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConvoyRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Convoy - An ORGANISATION that is a group of vehicles or vessels organised for the purpose of control and orderly movement with or without escort protection.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExecutiveMilitaryOrganisationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A MILITARY-ORGANISATION-TYPE whose function is to manage and direct the military establishment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationType">
				<xs:sequence>
					<xs:element name="ExecutiveMilitaryOrganisationTypeCategoryCode" type="jc3iedm:ExecutiveMilitaryOrganisationTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of EXECUTIVE-MILITARY-ORGANISATION-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExecutiveMilitaryOrganisationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some ExecutiveMilitaryOrganisationType - A MILITARY-ORGANISATION-TYPE whose function is to manage and direct the military establishment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupOrganisationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ORGANISATION-TYPE that is non-formal in nature and classes together its members due to mutual or common circumstances.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationType">
				<xs:sequence>
					<xs:element name="GroupOrganisationTypeCategoryCode" type="jc3iedm:GroupOrganisationTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of GROUP-ORGANISATION-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupOrganisationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some GroupOrganisationType - An ORGANISATION-TYPE that is non-formal in nature and classes together its members due to mutual or common circumstances.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MilitaryPostType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A MILITARY-ORGANISATION-TYPE with a set of duties that can be fulfilled by one person.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationType">
				<xs:sequence>
					<xs:element name="MilitaryPostTypeCategoryCode" type="jc3iedm:MilitaryPostTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the type classification of a MILITARY-POST-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MilitaryPostRankCode" type="jc3iedm:MilitaryPostTypeRankCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents a designation for a military or naval grade that establishes the relative position or status of a specific MILITARY-POST-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MilitaryPostTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some MilitaryPostType - A MILITARY-ORGANISATION-TYPE with a set of duties that can be fulfilled by one person.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherGovernmentOrganisationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ORGANISATION-TYPE that controls and administers public policy either under a national or international mandate.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGovernmentOrganisationType">
				<xs:sequence>
					<xs:element name="GovernmentOrganisationTypeCategoryCode" type="jc3iedm:GovernmentOrganisationTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of GOVERNMENT-ORGANISATION-TYPE. It serves as a discriminator that partitions GOVERNMENT-ORGANISATION-TYPE into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherGovernmentOrganisationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherGovernmentOrganisationType - An ORGANISATION-TYPE that controls and administers public policy either under a national or international mandate.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGovernmentOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherMilitaryOrganisationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GOVERNMENT-ORGANISATION-TYPE that is officially sanctioned and is trained and equipped to exert force.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherMilitaryOrganisationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherMilitaryOrganisationType - A GOVERNMENT-ORGANISATION-TYPE that is officially sanctioned and is trained and equipped to exert force.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherOrganisation">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-ITEM that is an administrative or functional structure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisation"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherOrganisationRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherOrganisation - An OBJECT-ITEM that is an administrative or functional structure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherOrganisationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-TYPE that represents administrative or functional structures.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherOrganisationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherOrganisationType - An OBJECT-TYPE that represents administrative or functional structures.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrivateSectorOrganisationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ORGANISATION-TYPE that is a non-government organisation and is constituted for business, commerce, manufacturing, trade, relief or philanthropy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationType">
				<xs:sequence>
					<xs:element name="PrivateSectorOrganisationTypeCategoryCode" type="jc3iedm:PrivateSectorOrganisationTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of PRIVATE-SECTOR-ORGANISATION-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MainActivityCode" type="jc3iedm:MainActivityCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the main activity of a PRIVATE-SECTOR-ORGANISATION-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrivateSectorOrganisationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some PrivateSectorOrganisationType - An ORGANISATION-TYPE that is a non-government organisation and is constituted for business, commerce, manufacturing, trade, relief or philanthropy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TaskFormationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A MILITARY-ORGANISATION-TYPE that is constituted on a temporary or semi-permanent basis for the purpose of carrying out a specific operation, mission or task.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationType">
				<xs:sequence>
					<xs:element name="TaskFormationTypeCategoryCode" type="jc3iedm:TaskFormationTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of TASK-FORMATION-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TaskFormationTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some TaskFormationType - A MILITARY-ORGANISATION-TYPE that is constituted on a temporary or semi-permanent basis for the purpose of carrying out a specific operation, mission or task.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMilitaryOrganisationTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
