artifacts/siso_downloads/_expanded/SISO-GUIDE-004-2017ExampleFiles/SISO-GUIDE-004-2017ExampleFiles/cbml-example-expressions/example-expressions-schema/cbml-example-expression-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">XML schema for C-BML guidance examples only J.M. Pullen 6 Mar 2015</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" schemaLocation="../../Schemas/cbml-1.0/cbml/jc3iedm-simple-types/3.0.2/jc3iedm-simple-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-action-types/1.0/cbml-action-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-composites/1.0/cbml-composites.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-organisation-types/1.0/cbml-organisation-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-location-types/1.0/cbml-location-types.xsd"/>
	<xs:element name="CBMLOrder" type="cbml:OrderType"/>
	<xs:element name="CBMLReport" type="cbml:BMLReportType"/>
	<xs:complexType name="OrderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Describes an Order, loosely patterned after NATO OPORD
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderIssuedWhen" type="xs:string"/>
			<xs:element name="OrderID" type="xs:string"/>
			<xs:element name="Execution" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TaskersIntent" type="xs:string" minOccurs="0"/>
						<xs:element name="Tasks" type="cbml:TasksType" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TasksType">
		<xs:sequence>
			<xs:element name="Task" type="cbml:OrderTaskType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaskWherePointType">
		<xs:sequence>
			<xs:element name="LatitudeCoordinate" type="jc3iedm:LatitudeCoordinateTypeRangeLatitude9_6"/>
			<xs:element name="LongitudeCoordinate" type="jc3iedm:LongitudeCoordinateTypeRangeLongitude10_6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BMLReportType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Describes some Reports used by MSG-085
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Report" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CategoryOfReport" type="cbml:CategoryOfReportType"/>
						<xs:element name="TypeOfReport" type="cbml:TypeOfReportType"/>
						<xs:element name="ReportHeader" type="cbml:ReportHeaderType"/>
						<xs:choice>
							<xs:element name="StatusReport" type="cbml:StatusReportsType"/>
							<xs:element name="SpotReport" type="cbml:SpotReportType"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportHeaderType">
		<xs:sequence>
			<xs:element name="ReporterWho" type="cbml:ReporterWhoType"/>
			<xs:element name="ReportingData" type="cbml:ReportingData"/>
			<xs:element name="ReportedWhen" type="cbml:ReportedWhenType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusReportsType">
		<xs:choice>
			<xs:element name="GeneralStatusReport"/>
			<xs:element name="PositionStatusReport"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SpotReportType">
		<xs:sequence>
			<xs:element name="Hostility" type="jc3iedm:ObjectItemHostilityStatusCode" minOccurs="0"/>
			<xs:element name="Executer" type="jc3iedm:OIDType" minOccurs="0"/>
			<xs:element name="AtWhere" type="cbml:WhereType" minOccurs="0"/>
			<xs:element name="Context" type="jc3iedm:TextTypeVar80" minOccurs="0"/>
			<xs:element name="Parameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Size" type="xs:string" minOccurs="0"/>
						<xs:element name="Activity" type="xs:string" minOccurs="0"/>
						<xs:element name="Location" type="cbml:WhereType" minOccurs="0"/>
						<xs:element name="Unit" type="jc3iedm:OIDType" minOccurs="0"/>
						<xs:element name="Equipment" type="jc3iedm:VehicleTypeCategoryCode" minOccurs="0"/>
						<xs:element name="SendersAssesment" type="xs:string" minOccurs="0"/>
						<xs:element name="Narrative" type="xs:string" minOccurs="0"/>
						<xs:element name="Authentication" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CategoryOfReportType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="StatusReport"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfReportType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GeneralStatusReport"/>
			<xs:enumeration value="PositionStatusReport"/>
			<xs:enumeration value="TaskStatusReport"/>
			<xs:enumeration value="WhoHoldingStatusReport"/>
			<xs:enumeration value="ControlFeatureReport"/>
			<xs:enumeration value="FacilityStatusReport"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PositionStatusReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hostility" type="jc3iedm:ObjectItemHostilityStatusCode"/>
				<xs:element name="Executer" type="jc3iedm:OIDType"/>
				<xs:element name="AtWhere" type="cbml:WhereType"/>
				<xs:element name="Context" type="jc3iedm:TextTypeVar80" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeneralStatusReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReporterWho" type="cbml:WhoType"/>
				<xs:element name="Context" type="xs:string" minOccurs="0"/>
				<xs:element name="Hostility" type="jc3iedm:ObjectItemHostilityStatusCode"/>
				<xs:element name="Executer" type="cbml:ObservedWhoType"/>
				<xs:element name="OpStatus" type="jc3iedm:OrganisationStatusOperationalStatusCode"/>
				<xs:element name="WhereLocation" type="cbml:WhereType"/>
				<!--xs:element name="VelocityVector" type="cbml:VelocityVectorType" minOccurs="0"/-->
				<xs:element name="When" type="xs:string"/>
				<xs:element name="ReportID" type="xs:string"/>
				<xs:element name="Credibility" type="cbml:CredibilityType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ObservedWhoType">
		<xs:choice>
			<xs:element name="UnitID" type="xs:string"/>
			<xs:element name="UnitDescription">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Hostility" type="jc3iedm:ObjectItemHostilityStatusCode"/>
						<xs:element name="Size" type="jc3iedm:EchelonSizeCode"/>
						<xs:element name="ArmCategory" type="jc3iedm:UnitTypeArmCategoryCode"/>
						<xs:element name="Qualifier" type="jc3iedm:UnitTypeQualifierCode" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CredibilityType">
		<xs:all>
			<xs:element name="Source" type="jc3iedm:ReportingDataSourceTypeCode"/>
			<xs:element name="Reliability" type="jc3iedm:ReportingDataReliabilityCode"/>
			<xs:element name="Certainty" type="jc3iedm:ReportingDataCredibilityCode"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
