artifacts/siso_downloads/_expanded/SISO-GUIDE-004-2017ExampleFiles/SISO-GUIDE-004-2017ExampleFiles/cbml-example-expressions/example-expressions-schema/cbml-example-expressions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Sidney Chartrand (CAE Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">Coalition Battle Management Language (C-BML) information components defined for the Simulation Interoperability Standards Organization (SISO) C-BML Phase 1 Specification (Saikou Diallo VMASC sdiallo@odu.edu, Marc St-Onge Canadian Signals Inc, Sidney Chartrand CAE Inc, Curt Blais NPS Co-edtiors, C-BML Drafting Group). References the Joint Command, Control, and Consultation Information Exchange Data Model (JC3IEDM) XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany - Tue Dec 06 18:35:09 CET 2005 - </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-action-types/1.0/cbml-action-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-organisation-types/1.0/cbml-organisation-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-location-types/1.0/cbml-location-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-materiel-types/1.0/cbml-materiel-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-feature-types/1.0/cbml-feature-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-facility-types/1.0/cbml-facility-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-affiliation-types/1.0/cbml-affiliation-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-person-types/1.0/cbml-person-types.xsd"/>
	<xs:include schemaLocation="../../Schemas/cbml-1.0/cbml/cbml-composites/1.0/cbml-composites.xsd"/>
	<!-- ********************************************************** cbml Expressions Elements **********************************************************-->
	<xs:element name="CBML">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation xml:lang="en">This element MUST be conveyed as the root element in any instance document based on this schema expression.</xs:documentation>
			</xs:annotation>
			<xs:choice>
				<xs:element name="Order" type="cbml:OrderType"/>
				<xs:element name="Report" type="cbml:ReportType"/>
				<xs:element name="Request" type="cbml:RequestType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Order" type="cbml:OrderType"/>
	<xs:element name="Report" type="cbml:ReportType"/>
	<xs:element name="Request" type="cbml:RequestType"/>
	<!-- ********************************************************** cbml Expressions Types **********************************************************-->
	<xs:complexType name="OrderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a C-BML Expression that is an order.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractExpressionType">
				<xs:sequence>
					<xs:element name="Task" type="cbml:OrderTaskType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en">An ordered task.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrentState" type="cbml:CurrentStateType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en">Current state (situation awareness) of an order.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OrderType - Specifies a C-BML Expression that is an order.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractExpressionRefType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReportType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a C-BML Expression that is a report.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractExpressionType">
				<xs:sequence>
					<xs:element name="Report" type="cbml:AbstractReportType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en"> A reporting data. Concrete types are: {WhatEffectType, EventWhatStatusType, WhoHostilityType, WhoGroupAccountType, WhoAddressType, WhoAffiliationType, WhoAssociationType, WhoLocationType, WhoStatusType, WhoTypeType, EventWhatLocationType, TaskWhatStatusType, WhoHoldingType, WhoHoldingTransferType, CandidateTargetListType, NetworkServiceStatusType, TargetPersonnelProtectionType, RequestWhatAnswerType, OrganisationStructureType}</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReportRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some ReportType - Specifies a C-BML Expression that is a report.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractExpressionRefType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a C-BML Expression that is a request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractExpressionType">
				<xs:sequence>
					<xs:element name="Task" type="cbml:RequestTaskType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en">A requested task.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrentState" type="cbml:CurrentStateType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en">Current state (situation awareness) of a request.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some RequestType - Specifies a C-BML Expression that is a request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractExpressionRefType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CurrentStateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a state described as a set of reports.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Report" type="cbml:ReportType">
				<xs:annotation>
					<xs:documentation xml:lang="en">A C-BML Expression that is a report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReportRef" type="cbml:ReportRefType">
				<xs:annotation>
					<xs:documentation xml:lang="en">A reference to some ReportType - A C-BML Expression that is a report.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
