artifacts/siso_downloads/_expanded/C-BMLSchemas/C-BMLSchemas/cbml-1.0/cbml/cbml-action-types/1.0/cbml-action-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by Sidney Chartrand (CAE Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany</xs:documentation>
		<xs:documentation xml:lang="en">The following schema is directly derived from the JC3IEDM 3.0.2:oo:2.2 schema.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" schemaLocation="../../jc3iedm-simple-types/3.0.2/jc3iedm-simple-types.xsd"/>
	<xs:include schemaLocation="../../cbml-composites/1.0/cbml-composites.xsd"/>
	<!-- Concrete Types Definition -->
	<xs:complexType name="ActionEffectItem">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION-EFFECT of a specific ACTION in accomplishing its aim in relation to a specific OBJECT-ITEM.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionEffect">
				<xs:sequence>
					<xs:element name="Ratio" type="jc3iedm:RatioType6_5">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric quotient value that represents the portion of a whole OBJECT-ITEM that is estimated in a specific ACTION-EFFECT-ITEM to have the result specified in ACTION-EFFECT. The value must be in the range from 0 to 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObjectItemRef" type="cbml:AbstractObjectItemRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">Reference to an OBJECT-ITEM. Concrete types are: {AtmosphereRef, CloudCoverRef, IcingRef, LightRef, OtherMeteorologicFeatureRef, PrecipitationRef, VisibilityRef, WindRef, AirRouteSegmentRef, OtherRouteSegmentRef, AirspaceControlMeansRef, OtherControlFeatureRef, RouteRef, GeographicFeatureRef, OtherFeatureRef, InstrumentLandingSystemRef, OtherMaterielRef, MinefieldLandRef, MinefieldMaritimeRef, OtherMilitaryObstacleRef, AirfieldRef, AnchorageRef, ApronRef, BasinRef, BerthRef, BridgeRef, DryDockRef, HarbourRef, JettyRef, OtherFacilityRef, QuayRef, RailwayRef, RoadRef, SlipwayRef, ConvoyRef, OtherOrganisationRef, UnitRef, OtherObjectItemRef, PersonRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION that is an incident, phenomenon, or occasion of military significance which has occurred or is occurring but for which planning is not known.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionEvent">
				<xs:sequence>
					<xs:element name="ActionEventCategoryCode" type="jc3iedm:ActionEventCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the general class or nature of activity prescribed by an ACTION-EVENT. It serves as a discriminator that partitions ACTION-EVENT into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherActionEvent - An ACTION that is an incident, phenomenon, or occasion of military significance which has occurred or is occurring but for which planning is not known.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionObjectiveItem">
		<xs:annotation>
			<xs:documentation xml:lang="en">A battlespace object (FACILITY, FEATURE, MATERIEL, ORGANISATION or PERSON) which is the focus of a specific ACTION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveItem"/>
			<!-- C-BML Rationale: All  possible enumeration values are assigned a specific type. The only one left is NOS (not otherwise specified). This type implies NOS.
				<xs:sequence>
					<xs:element name="ActionObjectiveItemCategoryCode" type="jc3iedm:ActionObjectiveItemCategoryCode" fixed="NOS">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of ACTION-OBJECTIVE-ITEM. It serves as a discriminator that partitions ACTION-OBJECTIVE-ITEM into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>-->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionObjectiveItemRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherActionObjectiveItem - A battlespace object (FACILITY, FEATURE, MATERIEL, ORGANISATION or PERSON) which is the focus of a specific ACTION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveItemRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionTask">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION that is being or has been planned and for which the planning details are known.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionTask"/>
			<!-- CBML Rationale: CategoryCode is determined based on an Expression's context.
				<xs:sequence>
					<xs:element name="ActionTaskCategoryCode" type="jc3iedm:ActionTaskCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of ACTION-TASK. It serves as a discriminator that partitions ACTION-TASK into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>-->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionTaskRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherActionTask - An ACTION that is being or has been planned and for which the planning details are known.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionTaskRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionEffectType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION-EFFECT of a specific ACTION in accomplishing its aim in relation to a specific OBJECT-TYPE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionEffect">
				<xs:sequence>
					<xs:element name="ActionEffectCount" type="jc3iedm:CountType6">
						<xs:annotation>
							<xs:documentation xml:lang="en">The integer value representing the aggregated number of units of an OBJECT-TYPE that is estimated in a specific ACTION-EFFECT-TYPE to have the result specified in a particular ACTION-EFFECT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObjectTypeRef" type="cbml:AbstractObjectTypeRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">The OBJECT-TYPE. Concrete types are: {ExecutiveMilitaryOrganisationTypeRef, MilitaryPostTypeRef, OtherMilitaryOrganisationTypeRef, TaskFormationTypeRef, UnitTypeRef, PrivateSectorOrganisationTypeRef, CivilianPostTypeRef, GroupOrganisationTypeRef, OtherOrganisationTypeRef, OtherVesselTypeRef, SubsurfaceVesselTypeRef, SurfaceVesselTypeRef, AircraftTypeRef, CbrnEquipmentTypeRef, ElectronicEquipmentTypeRef, EngineeringEquipmentTypeRef, MaritimeEquipmentTypeRef, MiscellaneousEquipmentTypeRef, RailcarTypeRef, VehicleTypeRef, WeaponTypeRef, AmmunitionTypeRef, BiologicalMaterielTypeRef, ChemicalMaterielTypeRef, OtherConsumableMaterielTypeRef, RadioactiveMaterielTypeRef, OtherMaterielTypeRef, OtherControlFeatureTypeRef, RouteTypeRef, GeographicFeatureTypeRef, OtherFeatureTypeRef, AirfieldTypeRef, BridgeTypeRef, HarbourTypeRef, MilitaryObstacleTypeRef, OtherFacilityTypeRef, OtherObjectTypeRef, PersonTypeRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- CBML Rationale: Defined at the Expression level.
					<xs:choice>
						<xs:element name="ObjectType" type="cbml:AbstractObjectType">
							<xs:annotation>
								<xs:documentation xml:lang="en">The OBJECT-TYPE.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ObjectTypeRef" type="cbml:AbstractObjectTypeRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The OBJECT-TYPE.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionObjectiveType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A class of battlespace object (FACILITY-TYPE, FEATURE-TYPE, MATERIEL-TYPE, ORGANISATION-TYPE or PERSON-TYPE) which is the focus of a specific ACTION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveType"/>
			<!-- CBML Rationale: All  possible enumeration values are assigned a specific type. The only one left is NOS. This type implies NOS.
				<xs:sequence>
					<xs:element name="ActionObjectiveTypeCategoryCode" type="jc3iedm:ActionObjectiveTypeCategoryCode" fixed="NOS">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of ACTION-OBJECTIVE-TYPE. It serves as a discriminator that partitions ACTION-OBJECTIVE-TYPE into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>-->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionObjectiveTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherActionObjectiveType - A class of battlespace object (FACILITY-TYPE, FEATURE-TYPE, MATERIEL-TYPE, ORGANISATION-TYPE or PERSON-TYPE) which is the focus of a specific ACTION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionObjectiveTask">
		<xs:annotation>
			<xs:documentation xml:lang="en">The objective of the specific ACTION is the operation identified as the specific ACTION-TASK.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjective">
				<xs:sequence>
					<xs:element name="ActionTaskRef" type="cbml:AbstractActionTaskRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">The focus for a specific ACTION-OBJECTIVE-TASK. Concrete types are: {OtherActionTaskRef, RequestRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- CBML Rationale: Action defined at the Task level.
					<xs:choice>
						<xs:element name="ActionTask" type="cbml:AbstractActionTask">
							<xs:annotation>
								<xs:documentation xml:lang="en">The focus for a specific ACTION-OBJECTIVE-TASK.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ActionTaskRef" type="cbml:AbstractActionTaskRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The focus for a specific ACTION-OBJECTIVE-TASK.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionObjectiveTaskRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some ActionObjectiveTask - The objective of the specific ACTION is the operation identified as the specific ACTION-TASK.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionResourceItem">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-ITEM (FACILITY, FEATURE, MATERIEL, ORGANISATION, or PERSON) to be used, excluded from use, being used, or having been used, in conducting a specific ACTION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionResource">
				<xs:sequence>
					<xs:element name="ObjectItemRef" type="cbml:AbstractObjectItemRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">The OBJECT-ITEM. Concrete types are: {AtmosphereRef, CloudCoverRef, IcingRef, LightRef, OtherMeteorologicFeatureRef, PrecipitationRef, VisibilityRef, WindRef, AirRouteSegmentRef, OtherRouteSegmentRef, AirspaceControlMeansRef, OtherControlFeatureRef, RouteRef, GeographicFeatureRef, OtherFeatureRef, InstrumentLandingSystemRef, OtherMaterielRef, MinefieldLandRef, MinefieldMaritimeRef, OtherMilitaryObstacleRef, AirfieldRef, AnchorageRef, ApronRef, BasinRef, BerthRef, BridgeRef, DryDockRef, HarbourRef, JettyRef, OtherFacilityRef, QuayRef, RailwayRef, RoadRef, SlipwayRef, ConvoyRef, OtherOrganisationRef, UnitRef, OtherObjectItemRef, PersonRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- CBML Rationale: Defined by EntityTypeReport.
						<xs:choice>
						<xs:element name="ObjectItem" type="cbml:AbstractObjectItem">
							<xs:annotation>
								<xs:documentation xml:lang="en">The OBJECT-ITEM.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ObjectItemRef" type="cbml:AbstractObjectItemRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The OBJECT-ITEM.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionResourceType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-TYPE (FACILITY-TYPE, FEATURE-TYPE, MATERIEL-TYPE, ORGANISATION-TYPE, or PERSON-TYPE) to be used, excluded from use, being used, or having been used, in conducting a specific ACTION.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionResource">
				<xs:sequence>
					<xs:element name="ActionResourceQuantity" type="jc3iedm:QuantityType9" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the aggregated units of a specific ACTION-RESOURCE-TYPE. No unit of measure is required.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApportionmentRatio" type="jc3iedm:RatioType6_5" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric quotient value that represents a proportion of a specific ACTION-RESOURCE-TYPE devoted to an ACTION. The value must be in the range from 0 to 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObjectTypeRef" type="cbml:AbstractObjectTypeRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">The OBJECT-TYPE. Concrete types are: {ExecutiveMilitaryOrganisationTypeRef, MilitaryPostTypeRef, OtherMilitaryOrganisationTypeRef, TaskFormationTypeRef, UnitTypeRef, PrivateSectorOrganisationTypeRef, CivilianPostTypeRef, GroupOrganisationTypeRef, OtherOrganisationTypeRef, OtherVesselTypeRef, SubsurfaceVesselTypeRef, SurfaceVesselTypeRef, AircraftTypeRef, CbrnEquipmentTypeRef, ElectronicEquipmentTypeRef, EngineeringEquipmentTypeRef, MaritimeEquipmentTypeRef, MiscellaneousEquipmentTypeRef, RailcarTypeRef, VehicleTypeRef, WeaponTypeRef, AmmunitionTypeRef, BiologicalMaterielTypeRef, ChemicalMaterielTypeRef, OtherConsumableMaterielTypeRef, RadioactiveMaterielTypeRef, OtherMaterielTypeRef, OtherControlFeatureTypeRef, RouteTypeRef, GeographicFeatureTypeRef, OtherFeatureTypeRef, AirfieldTypeRef, BridgeTypeRef, HarbourTypeRef, MilitaryObstacleTypeRef, OtherFacilityTypeRef, OtherObjectTypeRef, PersonTypeRef}</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- CBML Rationale: Defined at the Expression level.
					<xs:choice>
						<xs:element name="ObjectType" type="cbml:AbstractObjectType">
							<xs:annotation>
								<xs:documentation xml:lang="en">The OBJECT-TYPE.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ObjectTypeRef" type="cbml:AbstractObjectTypeRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The OBJECT-TYPE.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherActionResourceEmployment">
		<xs:annotation>
			<xs:documentation xml:lang="en">The procedure for using a specific ACTION-RESOURCE with or without dependence upon a specific ACTION-OBJECTIVE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionResourceEmployment"/>
			<!--	CBML Rationale: All  possible enumeration values are assigned a specific commented type. The only one left is NOS. This type implies NOS. In C-BML only OtherActionResourceEmployment is allowed.
				<xs:sequence>
					<xs:element name="ActionResourceEmploymentCategoryCode" type="jc3iedm:ActionResourceEmploymentCategoryCode" fixed="NOS">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of ACTION-RESOURCE-EMPLOYMENT. It serves as a discriminator that partitions ACTION-RESOURCE-EMPLOYMENT into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>-->
		</xs:complexContent>
	</xs:complexType>
	<!-- CbrnEvent Types -->
	<xs:complexType name="ChemicalBiologicalEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">A CBRN-EVENT involving chemical and/or biological materiel.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractCbrnEvent">
				<xs:sequence>
					<xs:element name="ChemicalBiologicalEventCategoryCode" type="jc3iedm:ChemicalBiologicalEventCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of CHEMICAL-BIOLOGICAL-EVENT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReleaseCategoryCode" type="jc3iedm:ReleaseCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of release in a CHEMICAL-BIOLOGICAL-EVENT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpillSizeCode" type="jc3iedm:ChemicalBiologicalEventSpillSizeCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the mass or the volume of a materiel spilled in a CHEMICAL-BIOLOGICAL-EVENT that is a release other than attack (ROTA).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReleaseHeightDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the height above ground level at which the chemical or biological agent is released. Release height is frequently referred to as burst height.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumeConcentrationQuantity" type="jc3iedm:QuantityType14_6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the level of chemical or biological contamination per unit volume in air or water. The unit of measure is milligrams per cubic metre (MGM3).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SurfaceDepositionQuantity" type="jc3iedm:QuantityType14_6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the level of chemical or biological contamination per unit area on a surface. The unit of measure is milligrams per square metre (MGM2).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AtmosphericParticleConcentrationQuantity" type="jc3iedm:QuantityType14_6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the level of chemical or biological atmospheric contamination The unit of measure is Agent Containing Particles Per Litre (ACPL).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MassFractionConcentrationQuantity" type="jc3iedm:QuantityType14_6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the number of 'parts' by weight of a biological or chemical substance per million parts of water. The unit of measure is in Parts per Million (PPM).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChemicalBiologicalEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some ChemicalBiologicalEvent - A CBRN-EVENT involving chemical and/or biological materiel.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractCbrnEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NuclearWeaponEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">A NUCLEAR-EVENT that involves the detonation of a nuclear device.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractNuclearEvent">
				<xs:sequence>
					<xs:element name="FlashToBangDuration" type="jc3iedm:DurationType19" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents a quantity of time in milliseconds from light being first observed until the sound of the nuclear detonation is heard in a specific NUCLEAR-WEAPON-EVENT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CraterPresenceCode" type="jc3iedm:NuclearWeaponEventCraterPresenceCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the presence of a crater.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CraterWidthDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the width of a crater caused by the detonation of a nuclear device.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YieldGroupCode" type="jc3iedm:NuclearYieldGroupCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the energy released in the detonation of a nuclear weapon, measured in terms of the kilotons or megatons of trinitrotoluene required to produce the same energy release.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YieldQuantity" type="jc3iedm:QuantityType4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the energy release or predicted to be released by the detonation of a nuclear weapon. The unit of measure is kiloton.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NuclearWeaponEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some NuclearWeaponEvent - A NUCLEAR-EVENT that involves the detonation of a nuclear device.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractNuclearEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherCbrnEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION-EVENT that involves chemical, biological, radiological or nuclear materiel individually or in combination.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractCbrnEvent">
				<xs:sequence>
					<xs:element name="CbrnEventCategoryCode" type="jc3iedm:CbrnEventCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of CBRN-EVENT. It serves as a discriminator that partitions CBRN-EVENT into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherCbrnEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherCbrnEvent - An ACTION-EVENT that involves chemical, biological, radiological or nuclear materiel individually or in combination.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractCbrnEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherNuclearEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">A RADIOACTIVE-EVENT involving nuclear materiel and/or nuclear detonation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractNuclearEvent">
				<xs:sequence>
					<xs:element name="NuclearEventCategoryCode" type="jc3iedm:NuclearEventCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of NUCLEAR-EVENT. It serves as a discriminator that partitions NUCLEAR-EVENT into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherNuclearEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherNuclearEvent - A RADIOACTIVE-EVENT involving nuclear materiel and/or nuclear detonation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractNuclearEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherRadioactiveEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">A CBRN-EVENT involving radioactive materiel(s).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRadioactiveEvent">
				<xs:sequence>
					<xs:element name="RadioactiveEventCategoryCode" type="jc3iedm:RadioactiveEventCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of RADIOACTIVE-EVENT. It serves as a discriminator that partitions RADIOACTIVE-EVENT into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherRadioactiveEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherRadioactiveEvent - A CBRN-EVENT involving radioactive materiel(s).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRadioactiveEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadiologicalEvent">
		<xs:annotation>
			<xs:documentation xml:lang="en">A RADIOACTIVE-EVENT involving radioactive materiel(s) but not involving nuclear materiel(s) and/or nuclear detonation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRadioactiveEvent">
				<xs:sequence>
					<xs:element name="ReleaseCategoryCode" type="jc3iedm:ReleaseCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the type of discharge for a contaminant release in a radioactive release other than attack (ROTA) event.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsotopeConcentrationRatio" type="jc3iedm:RatioType6_5" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric quotient value that represents the proportion by weight of an isotope in a release. The value must be in the range from 0 to 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadiologicalEventRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some RadiologicalEvent - A RADIOACTIVE-EVENT involving radioactive materiel(s) but not involving nuclear materiel(s) and/or nuclear detonation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRadioactiveEventRef"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Target Types -->
	<xs:complexType name="Target">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION-OBJECTIVE-ITEM that is subject to capture, destruction or intelligence operations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveItem">
				<xs:sequence>
					<xs:element name="EngagementAuthorityCode" type="jc3iedm:TargetEngagementAuthorityCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the type of employment authorised for a specific TARGET.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierText" type="jc3iedm:TextTypeVar15" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string assigned to represent the common additional reference assigned to the target by an organisation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersistenceDuration" type="jc3iedm:DurationType19" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents a quantity of time in milliseconds that a specific TARGET is expected to remain available as a target.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TargetDescriptionText" type="jc3iedm:TextTypeVar20" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string assigned to represent the common additional reference assigned to the TARGET.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- CBML Rationale: Covered by TargetPersonnelProtectionReport.
							<xs:choice minOccurs="0">
							<xs:element name="PersonnelProtection" type="cbml:TargetPersonnelProtection">
								<xs:annotation>
									<xs:documentation xml:lang="en">A child in a 'is-recognised-as-having' relationship.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PersonnelProtectionRef" type="cbml:TargetPersonnelProtectionRef">
								<xs:annotation>
									<xs:documentation xml:lang="en">A child in a 'is-recognised-as-having' relationship.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Target - An ACTION-OBJECTIVE-ITEM that is subject to capture, destruction or intelligence operations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionObjectiveItemRef"/>
			<!-- CBML Rationale: Reference’s elements not required because changed to an equivalent C-BML representation.
			  <xs:sequence>
			  <xs:choice minOccurs="0" >
				<xs:element name="PersonnelProtection" type="cbml:TargetPersonnelProtection" >
				  <xs:annotation>
					<xs:documentation xml:lang="en">A child in a 'is-recognised-as-having' relationship.</xs:documentation>
				  </xs:annotation>
				</xs:element>
				<xs:element name="PersonnelProtectionRef" type="cbml:TargetPersonnelProtectionRef" >
				  <xs:annotation>
					<xs:documentation xml:lang="en">A child in a 'is-recognised-as-having' relationship.</xs:documentation>
				  </xs:annotation>
				</xs:element>
			  </xs:choice>
			</xs:sequence>
		  </xs:extension> -->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetPersonnelProtectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a report describing the personnel protection of a target.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractReportType">
				<xs:sequence>
					<xs:element name="TargetRef" type="cbml:TargetRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">A reference to some Target - An AbstractActionObjectiveItem that is subject to capture, destruction or intelligence operations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProtectionCategoryCode" type="jc3iedm:TargetPersonnelProtectionCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that denotes the protective posture of personnel for the specific TARGET.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TargetPersonnelProtectionRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some TargetPersonnelProtectionType - Specifies a report describing the personnel protection of a target.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractReportRefType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Request Types -->
	<xs:complexType name="Request">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ACTION-TASK that states a requirement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionTask">
				<xs:sequence>
					<xs:element name="RequestCategoryCode" type="cbml:RequestCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the type classification of a specific REQUEST.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImmediateInterestIndicatorCode" type="jc3iedm:RequestImmediateInterestIndicatorCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that indicates whether the information sought in a request is of immediate interest.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatestAnswerDatetime" type="jc3iedm:DatetimeTypeFix18" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string representing a point in time that designates the end of the period of usefulness of the information sought in a specific REQUEST.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- CBML Rationale: Covered by RequestAnswerReport.
						<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="Answer" type="cbml:RequestAnswer">
							<xs:annotation>
								<xs:documentation xml:lang="en">A child in a 'results-in' relationship.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AnswerRef" type="cbml:RequestAnswerRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">A child in a 'results-in' relationship.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Request - An ACTION-TASK that states a requirement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractActionTaskRef"/>
			<!-- CBML Rationale: Reference’s elements not required because changed to an equivalent C-BML representation.
		  <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Answer" type="cbml:RequestAnswer" >
              <xs:annotation>
                <xs:documentation xml:lang="en">A child in a 'results-in' relationship.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AnswerRef" type="cbml:RequestAnswerRef" >
              <xs:annotation>
                <xs:documentation xml:lang="en">A child in a 'results-in' relationship.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension> -->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestWhatAnswerType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Specifies a report describing the answer to a given request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractReportType">
				<xs:sequence>
					<xs:element name="RequestRef" type="cbml:RequestRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">A reference to some Request - A task that states a requirement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Answer" type="cbml:RequestAnswer">
						<xs:annotation>
							<xs:documentation xml:lang="en">A response to a specific Request for information.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestWhatAnswerRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some RequestWhatAnswerType - Specifies a report describing the answer to a given request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractReportRefType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestAnswer">
		<xs:annotation>
			<xs:documentation xml:lang="en">An indication of the nature of a response to a specific Request for information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestAnswerCategoryCode" type="jc3iedm:RequestAnswerCategoryCode">
				<xs:annotation>
					<xs:documentation xml:lang="en">The specific value that represents the class of RequestAnswer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComprisingReportRef" type="cbml:AbstractReportRefType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A child in a 'is-comprised-of' relationship. Concrete types are: {WhatEffectRefType, EventWhatStatusRefType, WhoGroupAccountRefType, WhoHostilityRefType, WhoAddressRefType, WhoAffiliationRefType, WhoAssociationRefType, WhoLocationRefType, WhoStatusRefType, WhoTypeRefType, EventWhatLocationRefType, TaskWhatStatusRefType, WhoHoldingRefType, HoldingTransferRefType, CandidateTargetListRefType, NetworkServiceStatusRefType, TargetPersonnelProtectionRefType, RequestWhatAnswerRefType, OrganisationStructureRefType}</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
