artifacts/siso_downloads/_expanded/SISO-STD-011-2014CBMLschemas/C-BMLSchemas/cbml-1.0/cbml/cbml-location-types/1.0/cbml-location-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany</xs:documentation>
		<xs:documentation xml:lang="en">The following schema is directly derived from the JC3IEDM 3.0.2:oo:2.2 schema.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" schemaLocation="../../jc3iedm-simple-types/3.0.2/jc3iedm-simple-types.xsd"/>
	<xs:include schemaLocation="../../cbml-entity-types/1.0/cbml-entity-types.xsd"/>
	<!-- Concrete Types Definition -->
	<xs:complexType name="CorridorArea">
		<xs:annotation>
			<xs:documentation xml:lang="en">A SURFACE that is defined by its width and a sequence of points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:element name="WidthDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the horizontal distance measured from side to side for a CORRIDOR-AREA and distributed equally with respect to its centreline.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="CentreLine" type="cbml:Line">
							<xs:annotation>
								<xs:documentation xml:lang="en">The LINE that defines the central line for a specific CORRIDOR-AREA.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CentreLineRef" type="cbml:LineRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The LINE that defines the central line for a specific CORRIDOR-AREA.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CorridorAreaRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some CorridorArea - A SURFACE that is defined by its width and a sequence of points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Line">
		<xs:annotation>
			<xs:documentation xml:lang="en">A LOCATION that is defined by two or more POINTs connected by one-dimensional line segments in an ordered sequence.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractLocation">
				<xs:sequence>
					<xs:choice minOccurs="2" maxOccurs="unbounded">
						<xs:element name="Point" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that is used as a Line's point in specific sequence in defining a particular LINE. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">A reference to some Point. - The POINT that is used as a Line's point in specific sequence in defining a particular LINE. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Line - A LOCATION that is defined by two or more POINTs connected by one-dimensional line segments in an ordered sequence.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractLocationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeographicPoint">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ABSOLUTE-POINT that has its position specified with respect to the surface of the World Geodetic System 1984 (WGS 84) ellipsoid.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAbsolutePoint">
				<xs:sequence>
					<xs:element name="LatitudeCoordinate" type="jc3iedm:LatitudeCoordinateTypeRangeLatitude9_6">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the angle between the plane of the equator and a line perpendicular to the ellipsoid surface and passing through the GEOGRAPHIC-POINT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongitudeCoordinate" type="jc3iedm:LongitudeCoordinateTypeRangeLongitude10_6">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the angle between the initial (zero or Greenwich) meridian and the meridian of the GEOGRAPHIC-POINT measured in the plane of the Equator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatitudePrecisionCode" type="jc3iedm:AnglePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the resolution used for the expression of a value of a latitude coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongitudePrecisionCode" type="jc3iedm:AnglePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the resolution used for the expression of a value of a longitude coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeographicPointRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some GeographicPoint - An ABSOLUTE-POINT that has its position specified with respect to the surface of the World Geodetic System 1984 (WGS 84) ellipsoid.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAbsolutePointRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolygonArea">
		<xs:annotation>
			<xs:documentation xml:lang="en">A SURFACE that has its boundaries defined by a specific LINE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:choice>
						<xs:element name="BoundingLine" type="cbml:Line">
							<xs:annotation>
								<xs:documentation xml:lang="en">The closed LINE that constitutes the boundary for a specific POLYGON-AREA.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BoundingLineRef" type="cbml:LineRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The closed LINE that constitutes the boundary for a specific POLYGON-AREA.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolygonAreaRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some PolygonArea - A SURFACE that has its boundaries defined by a specific LINE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SurfaceVolume">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GEOMETRIC-VOLUME that has its horizontal boundaries defined by a specific SURFACE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeometricVolume">
				<xs:sequence>
					<xs:choice>
						<xs:element name="DefiningSurface" type="cbml:AbstractSurface">
							<xs:annotation>
								<xs:documentation xml:lang="en">The SURFACE that defines the horizontal boundaries for a specific SURFACE-VOLUME. Concrete types are: {CorridorArea, Ellipse, FanArea, OrbitArea, PolyarcArea, PolygonArea, TrackArea}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DefiningSurfaceRef" type="cbml:AbstractSurfaceRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The SURFACE that defines the horizontal boundaries for a specific SURFACE-VOLUME. Concrete types are: {CorridorAreaRef, EllipseRef, FanAreaRef, OrbitAreaRef, PolyarcAreaRef, PolygonAreaRef, TrackAreaRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SurfaceVolumeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some SurfaceVolume - A GEOMETRIC-VOLUME that has its horizontal boundaries defined by a specific SURFACE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeometricVolumeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherLocation">
		<xs:annotation>
			<xs:documentation xml:lang="en">A specification of position and geometry with respect to a specified horizontal frame of reference and a vertical distance measured from a specified datum.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractLocation">
				<xs:sequence>
					<xs:element name="LocationCategoryCode" type="jc3iedm:LocationCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents a class of LOCATION. It serves as a discriminator that partitions LOCATION into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherLocationRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherLocation - A specification of position and geometry with respect to a specified horizontal frame of reference and a vertical distance measured from a specified datum.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractLocationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CartesianPoint">
		<xs:annotation>
			<xs:documentation xml:lang="en">An ABSOLUTE-POINT that has its position specified in a three-dimensional Earth-centred Cartesian system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAbsolutePoint">
				<xs:sequence>
					<xs:element name="XCoordinateDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the X-component of a coordinate which expresses the position of a point in a three-dimensional Cartesian coordinate system that is fixed to the earth, where the X-axis lies in the planes of the Equator and the Greenwich meridian.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YCoordinateDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the Y-component of a coordinate which expresses the position of a point in a three-dimensional Cartesian coordinate system that is fixed to the earth where the Y-axis is perpendicular to both the X- and Z-axes completing the right-handed coordinate system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZCoordinateDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the Z-component of a coordinate which expresses the position of a point in a three-dimensional Cartesian coordinate system that is fixed to the earth, where the Z-axis coincides with the mean rotation axis of the Earth.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="XPrecisionCode" type="jc3iedm:DistancePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the resolution used for the expression of a value of a Cartesian x-coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YPrecisionCode" type="jc3iedm:DistancePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the resolution used for the expression of a value of a Cartesian y-coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZPrecisionCode" type="jc3iedm:DistancePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the resolution used for the expression of a value of a Cartesian z-coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CartesianPointRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some CartesianPoint - An ABSOLUTE-POINT that has its position specified in a three-dimensional Earth-centred Cartesian system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAbsolutePointRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConeVolume">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GEOMETRIC-VOLUME whose boundary is swept by a line that has a fixed point and another that moves along the path defined by the border of a specific SURFACE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeometricVolume">
				<xs:sequence>
					<xs:choice>
						<xs:element name="DefiningSurface" type="cbml:AbstractSurface">
							<xs:annotation>
								<xs:documentation xml:lang="en">The SURFACE that is the defining cross-section for a specific CONE-VOLUME. Concrete types are: {CorridorArea, Ellipse, FanArea, OrbitArea, PolyarcArea, PolygonArea, TrackArea}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DefiningSurfaceRef" type="cbml:AbstractSurfaceRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The SURFACE that is the defining cross-section for a specific CONE-VOLUME. Concrete types are: {CorridorAreaRef, EllipseRef, FanAreaRef, OrbitAreaRef, PolyarcAreaRef, PolygonAreaRef, TrackAreaRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="VertexPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The specific POINT that is the vertex of a specific CONE-VOLUME. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VertexPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The specific POINT that is the vertex of a specific CONE-VOLUME. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConeVolumeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some ConeVolume - A GEOMETRIC-VOLUME whose boundary is swept by a line that has a fixed point and another that moves along the path defined by the border of a specific SURFACE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeometricVolumeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Ellipse">
		<xs:annotation>
			<xs:documentation xml:lang="en">A planar SURFACE in the form of an ellipse.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:choice>
						<xs:element name="CentrePoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the geometric centre for a specific ELLIPSE. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CentrePointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the geometric centre for a specific ELLIPSE. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="FirstConjugateDiameterPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT marking the diameter on the first axis of a specific ELLIPSE. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FirstConjugateDiameterPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT marking the diameter on the first axis of a specific ELLIPSE. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="SecondConjugateDiameterPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT marking the diameter on the second axis of a specific ELLIPSE. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SecondConjugateDiameterPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT marking the diameter on the second axis of a specific ELLIPSE. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EllipseRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Ellipse - A planar SURFACE in the form of an ellipse.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FanArea">
		<xs:annotation>
			<xs:documentation xml:lang="en">A SURFACE that is in the form of a truncated ring sector, lying between and being bounded by the rays emanating from the centre-point of the ring and having a specified central angle.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:element name="MinimumRangeDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the distance from the vertex to the inner ring of the ring sector used to specify the FAN-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumRangeDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing distance from the vertex to the outer ring of the ring sector used to specify the FAN-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrientationAngle" type="jc3iedm:AngleTypeRangeAngle7_4">
						<xs:annotation>
							<xs:documentation xml:lang="en">The rotational measurement clockwise between the line of true north and the left side of the sector for a specific FAN-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectorSizeAngle" type="jc3iedm:AngleTypeRangeAngle7_4">
						<xs:annotation>
							<xs:documentation xml:lang="en">The rotational measurement clockwise between the left and right sides of the sector for a specific FAN-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="VertexPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the vertex for the specific FAN-AREA. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VertexPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the vertex for the specific FAN-AREA. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FanAreaRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some FanArea - A SURFACE that is in the form of a truncated ring sector, lying between and being bounded by the rays emanating from the centre-point of the ring and having a specified central angle.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrbitArea">
		<xs:annotation>
			<xs:documentation xml:lang="en">A SURFACE that is (a) an open rectangular section defined by its width and the distance between the two specific POINTs, (b) is closed by two half-circles with radii equal to half the width, and is positioned left, centred, or right with respect to the line formed by the defining points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:element name="AlignmentCode" type="jc3iedm:OrbitAreaAlignmentCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the placement of a specific ORBIT-AREA with respect to its defining reference axis.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WidthDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the horizontal distance measured from side to side for a specific ORBIT-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="FirstPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the initial point of an axis for a specific ORBIT-AREA. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FirstPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the initial point of an axis for a specific ORBIT-AREA. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="SecondPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the final point of an axis for a specific ORBIT-AREA. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SecondPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the final point of an axis for a specific ORBIT-AREA. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrbitAreaRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OrbitArea - A SURFACE that is (a) an open rectangular section defined by its width and the distance between the two specific POINTs, (b) is closed by two half-circles with radii equal to half the width, and is positioned left, centred, or right with respect to the line formed by the defining points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolyarcArea">
		<xs:annotation>
			<xs:documentation xml:lang="en">A SURFACE that consists of a circular arc and a polygonal segment defined by a specific LINE whose beginning coincides with the initial point of the arc and whose end coincides with the last point of the arc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:element name="BeginBearingAngle" type="jc3iedm:AngleTypeRangeAngle7_4">
						<xs:annotation>
							<xs:documentation xml:lang="en">The rotational measurement clockwise from true North to the left side of a horizontal conical section used in defining a specific POLYARC-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndBearingAngle" type="jc3iedm:AngleTypeRangeAngle7_4">
						<xs:annotation>
							<xs:documentation xml:lang="en">The rotational measurement clockwise from true North to the right side of a horizontal conical section used in defining a specific POLYARC-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArcRadiusDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the distance from the vertex to the ring sector used to define part of a specific POLYARC-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="DefiningLine" type="cbml:Line">
							<xs:annotation>
								<xs:documentation xml:lang="en">The LINE that is used to define part of a specific POLYARC-AREA.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DefiningLineRef" type="cbml:LineRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The LINE that is used to define part of a specific POLYARC-AREA.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="BearingOriginPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that specifies the origin for bearing angles that define an arch for a specific POLYARC-AREA. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BearingOriginPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that specifies the origin for bearing angles that define an arch for a specific POLYARC-AREA. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PolyarcAreaRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some PolyarcArea - A SURFACE that consists of a circular arc and a polygonal segment defined by a specific LINE whose beginning coincides with the initial point of the arc and whose end coincides with the last point of the arc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RelativePoint">
		<xs:annotation>
			<xs:documentation xml:lang="en">A POINT whose position is specified with respect to a specific RELATIVE-COORDINATE-SYSTEM.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractPoint">
				<xs:sequence>
					<xs:element name="XCoordinateDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the displacement of the specific RELATIVE-POINT along the x-axis with respect to a specific RELATIVE-COORDINATE-SYSTEM.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YCoordinateDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the displacement of the specific RELATIVE-POINT along the y-axis with respect to a specific RELATIVE-COORDINATE-SYSTEM.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZCoordinateDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the displacement of the specific RELATIVE-POINT along the z-axis with respect to a specific RELATIVE-COORDINATE-SYSTEM.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="XPrecisionCode" type="jc3iedm:DistancePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the maximum resolution used for the expression of a value of an x-coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YPrecisionCode" type="jc3iedm:DistancePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the maximum resolution used for the expression of a value of a y-coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZPrecisionCode" type="jc3iedm:DistancePrecisionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the maximum resolution used for the expression of a value of a z-coordinate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="RelativeCoordinateSystem" type="cbml:AbstractRelativeCoordinateSystem">
							<xs:annotation>
								<xs:documentation xml:lang="en">The RELATIVE-COORDINATE-SYSTEM. Concrete types are: {ObjectReference, PointReference}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RelativeCoordinateSystemRef" type="cbml:AbstractRelativeCoordinateSystemRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The RELATIVE-COORDINATE-SYSTEM. Concrete types are: {ObjectReferenceRef, PointReferenceRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RelativePointRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some RelativePoint - A POINT whose position is specified with respect to a specific RELATIVE-COORDINATE-SYSTEM.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractPointRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SphereVolume">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GEOMETRIC-VOLUME that has its horizontal boundaries defined by the spherical surface determined by the radius and the specified POINT.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeometricVolume">
				<xs:sequence>
					<xs:element name="RadiusDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the radius from the centre that defines the surface for a specific SPHERE-VOLUME.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="CentrePoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the centre for a specific SPHERE-VOLUME. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CentrePointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the centre for a specific SPHERE-VOLUME. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SphereVolumeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some SphereVolume - A GEOMETRIC-VOLUME that has its horizontal boundaries defined by the spherical surface determined by the radius and the specified POINT.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeometricVolumeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrackArea">
		<xs:annotation>
			<xs:documentation xml:lang="en">A SURFACE that is a rectangular section with its length defined by the two specific POINTs and its width by the sum of the widths to the left and right of the connecting line between the two points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurface">
				<xs:sequence>
					<xs:element name="LeftWidthDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the horizontal distance to the left measured orthogonally to the reference axis for a specific TRACK-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RightWidthDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the horizontal distance to the right measured orthogonally to the reference axis for a specific TRACK-AREA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="BeginPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the initial point of a reference axis for a specific TRACK-AREA. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BeginPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the initial point of a reference axis for a specific TRACK-AREA. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="EndPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the final point of a reference axis for a specific TRACK-AREA. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the final point of a reference axis for a specific TRACK-AREA. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrackAreaRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some TrackArea - A SURFACE that is a rectangular section with its length defined by the two specific POINTs and its width by the sum of the widths to the left and right of the connecting line between the two points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractSurfaceRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectReference">
		<xs:annotation>
			<xs:documentation xml:lang="en">A RELATIVE-COORDINATE-SYSTEM that has its frame of reference defined by using the position and orientation of a specific OBJECT-ITEM at a given point in time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRelativeCoordinateSystem">
				<xs:sequence>
					<xs:element name="ObjectItemLocationRef" type="cbml:ObjectItemLocationRef">
						<xs:annotation>
							<xs:documentation xml:lang="en">The OBJECT-ITEM-LOCATION that is used in defining a specific RELATIVE-COORDINATE-SYSTEM.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectReferenceRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some ObjectReference - A RELATIVE-COORDINATE-SYSTEM that has its frame of reference defined by using the position and orientation of a specific OBJECT-ITEM at a given point in time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRelativeCoordinateSystemRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PointReference">
		<xs:annotation>
			<xs:documentation xml:lang="en">A RELATIVE-COORDINATE-SYSTEM that uses three specific POINTs to establish its frame of reference.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRelativeCoordinateSystem">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OriginPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the origin for a specific RELATIVE-COORDINATE-SYSTEM. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OriginPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the origin for a specific RELATIVE-COORDINATE-SYSTEM. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="XVectorPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the x-vector for a specific RELATIVE-COORDINATE-SYSTEM. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="XVectorPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the x-vector for a specific RELATIVE-COORDINATE-SYSTEM. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice>
						<xs:element name="YVectorPoint" type="cbml:AbstractPoint">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the y-vector for a specific RELATIVE-COORDINATE-SYSTEM. Concrete types are: {CartesianPoint, GeographicPoint, RelativePoint}</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="YVectorPointRef" type="cbml:AbstractPointRef">
							<xs:annotation>
								<xs:documentation xml:lang="en">The POINT that defines the y-vector for a specific RELATIVE-COORDINATE-SYSTEM. Concrete types are: {CartesianPointRef, GeographicPointRef, RelativePointRef}</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PointReferenceRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some PointReference - A RELATIVE-COORDINATE-SYSTEM that uses three specific POINTs to establish its frame of reference.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRelativeCoordinateSystemRef"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
