artifacts/siso_downloads/_expanded/C-BMLSchemas/C-BMLSchemas/cbml-1.0/cbml/cbml-affiliation-types/1.0/cbml-affiliation-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany</xs:documentation>
		<xs:documentation xml:lang="en">The following schema is directly derived from the JC3IEDM 3.0.2:oo:2.2 schema.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" schemaLocation="../../jc3iedm-simple-types/3.0.2/jc3iedm-simple-types.xsd"/>
	<xs:include schemaLocation="../../cbml-entity-types/1.0/cbml-entity-types.xsd"/>
	<!-- Concrete Types Definition -->
	<xs:complexType name="AffiliationGeopolitical">
		<xs:annotation>
			<xs:documentation xml:lang="en">A specification of a country or political entity to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliation">
				<xs:sequence>
					<xs:element name="AffiliationGeopoliticalCode" type="jc3iedm:AffiliationGeopoliticalCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the identification of the independent first-level geographic-political area and its dependencies, areas of quasi-independence, and areas with special unrecognised sovereignty, including outlying and disputed areas.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationGeopoliticalRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some AffiliationGeopolitical - A specification of a country or political entity to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationEthnicGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">A specification of an ethnic group to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliation">
				<xs:sequence>
					<xs:element name="AffiliationEthnicGroupCode" type="jc3iedm:AffiliationEthnicGroupCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents an ethnic group in a specific AFFILIATION-ETHNIC-GROUP.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationEthnicGroupRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some AffiliationEthnicGroup - A specification of an ethnic group to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationFunctionalGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">A specification of a functional group characterised by its primary purpose to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliation">
				<xs:sequence>
					<xs:element name="AffiliationFunctionalGroupCode" type="jc3iedm:AffiliationFunctionalGroupCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the category of functional group.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameText" type="jc3iedm:TextTypeVar50">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string assigned to represent a specific AFFILIATION-FUNCTIONAL-GROUP.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationFunctionalGroupRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some AffiliationFunctionalGroup - A specification of a functional group characterised by its primary purpose to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationReligion">
		<xs:annotation>
			<xs:documentation xml:lang="en">A specification of a religion to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliation">
				<xs:sequence>
					<xs:element name="AffiliationReligionCode" type="jc3iedm:AffiliationReligionCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents a religion in a specific AFFILIATION-RELIGION.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AffiliationReligionRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some AffiliationReligion - A specification of a religion to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliationRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherAffiliation">
		<xs:annotation>
			<xs:documentation xml:lang="en">A specification of a country, nationality, ethnic group, functional group, exercise group, or religion to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliation">
				<xs:sequence>
					<xs:element name="AffiliationCategoryCode" type="jc3iedm:AffiliationCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of AFFILIATION. It serves as a discriminator that partitions AFFILIATION into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherAffiliationRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherAffiliation - A specification of a country, nationality, ethnic group, functional group, exercise group, or religion to which membership or allegiance may be ascribed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractAffiliationRef"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
