artifacts/siso_downloads/_expanded/C-BMLSchemas/C-BMLSchemas/cbml-1.0/cbml/cbml-codes/1.0/cbml-codes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Sidney Chartrand (CAE Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">Coalition Battle Management Language (C-BML) information components defined for the Simulation Interoperability Standards Organization (SISO) C-BML Phase 1 Specification (Saikou Diallo VMASC sdiallo@odu.edu, Marc St-Onge Canadian Signals Inc, Sidney Chartrand CAE Inc, Curt Blais NPS Co-edtiors, C-BML Drafting Group). References the Joint Command, Control, and Consultation Information Exchange Data Model (JC3IEDM) XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany - Tue Dec 06 18:35:09 CET 2005 - </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ActionStartTemporalAssociationCategoryCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that represents the class of chronological relationship of a subject ACTION to an object ACTION for a specific ACTION-TEMPORAL-ASSOCIATION.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="STREND">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION starts after the object ACTION ends.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Starts after end of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STRENE">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION starts no earlier than the end of the object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Starts no earlier than after end of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STRENL">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION starts no later than the end of object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Starts no later than after end of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STRSNE">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION starts no earlier than the start of the object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Starts no earlier than after start of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STRSNL">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION starts no later than the start of object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Starts no later than after start of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STRSTR">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION starts after the object ACTION starts.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Starts after start of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionEndTemporalAssociationCategoryCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that represents the class of chronological relationship of a subject ACTION to an object ACTION for a specific ACTION-TEMPORAL-ASSOCIATION.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ENDEND">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION ends after the object ACTION ends.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Ends after end of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDENE">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION ends no earlier than the end of the object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Ends no earlier than after end of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDENL">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION ends no later than the end of object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Ends no later than after end of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDSNE">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION ends no earlier than the start of the object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Ends no earlier than after start of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDSNL">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION ends no later than the start of object ACTION augmented by a fixed duration.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Ends no later than after start of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ENDSTR">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">The subject ACTION ends after the object ACTION starts.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Ends after start of</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionTaskStartQualifierCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that denotes the role of starting date and time with respect to the period of effectiveness of a specific ACTION-TASK.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ASAP">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Begin the activity at the earliest possible time once execution is authorised.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">As soon as possible</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionTaskStartTimeQualifierCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that denotes the role of starting date and time with respect to the period of effectiveness of a specific ACTION-TASK.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="AFT">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time intended is later than the time specified.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">After</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASAPAF">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Begin the activity at the earliest possible time after the specified start time.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">As soon as possible after</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASAPNL">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Begin the activity at the earliest possible time but not later than the specified start time.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">As soon as possible not later than</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AT">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time intended is the time specified.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">At</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BEF">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time intended is in advance of the time specified.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Before</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NLT">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time specified is the latest.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">No later than</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOB">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time specified is the earliest.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Not before</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionTaskEndQualifierCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that denotes the role of ending date and time with respect to the period of effectiveness of a specific ACTION-TASK.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ASAP">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">End the activity at the earliest possible time once execution is authorised.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">As soon as possible</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionTaskEndTimeQualifierCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that denotes the role of ending date and time with respect to the period of effectiveness of a specific ACTION-TASK.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="AFT">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time intended is later than the time specified.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">After</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASAPAF">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">End the activity at the earliest possible time after the specified end time.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">As soon as possible after</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASAPNL">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">End the activity at the earliest possible time but not later than the specified end time.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">As soon as possible not later than</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AT">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time intended is the time specified.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">At</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BEF">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time intended is in advance of the time specified.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Before</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NLT">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time specified is the latest.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">No later than</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOB">
				<xs:annotation>
					<xs:documentation>
						<Definition xml:lang="en">Time specified is the earliest.</Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Not before</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestCategoryCode">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specific value that represents the type classification of a specific REQUEST.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ACTION">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To discover the actions of an ACTION-OBJECTIVE (OBJECT-ITEM) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Action</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSOC">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To discover the relation between two ACTION-OBJECTIVEs (OBJECT-ITEMs) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Association</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOLDNG">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To discover the holding of an ACTION-OBJECTIVE (OBJECT-ITEM) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Holding</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOSTIL">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To recognise the friendly or enemy character of an ACTION-OBJECTIVE (OBJECT-ITEM) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Hostility</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOCATN">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To discover the location of an ACTION-OBJECTIVE (OBJECT-ITEM) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Location</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRESNC">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To discover the manifestation of an ACTION-OBJECTIVE in the area of operational interest specified through another ACTION-OBJECTIVE (OBJECT-ITEM: FACILITY, FEATURE).</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Presence</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATUS">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To recognise the status of an ACTION-OBJECTIVE (OBJECT-ITEM) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Status</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TYPE">
				<xs:annotation>
					<xs:documentation>
						<xs:Definition xml:lang="en">To recognise the type of an ACTION-OBJECTIVE (OBJECT-ITEM) by any means.</xs:Definition>
					</xs:documentation>
					<xs:appinfo>
						<xs:DisplayValue xml:lang="en">Type</xs:DisplayValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
