artifacts/siso_downloads/_expanded/SISO-STD-011-2014CBMLschemas/C-BMLSchemas/cbml-1.0/cbml/cbml-feature-types/1.0/cbml-feature-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?copyright statement="Copyright (c) 2018 by the Simulation Interoperability Standards Organization, Inc.
P.O. Box 781238
Orlando, FL 32878-1238, USA
All rights reserved.
SISO hereby grants a general, royalty-free license to copy, distribute, display, and make derivative works from this material, for all purposes, provided that any use of the material contains the following attribution: "Reprinted with permission from SISO Inc." Should a reader require additional information, contact the SISO Inc. Board of Directors.
SISO Inc. Board of Directors
P.O. Box 781238
Orlando, FL 32878-1238, USA"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jc3iedm="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" xmlns:cbml="http://www.sisostds.org/schemas/c-bml/1.0" targetNamespace="http://www.sisostds.org/schemas/c-bml/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">XML schema defined by the Multilateral Interoperability Programme (MIP) - Editor: Dr. Michael Gerz, gerz@fgan.de, FGAN FKIE, Germany</xs:documentation>
		<xs:documentation xml:lang="en">The following schema is directly derived from the JC3IEDM 3.0.2:oo:2.2 schema.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:int:nato:standard:mip:jc3iedm:3.0.2:oo:2.2" schemaLocation="../../jc3iedm-simple-types/3.0.2/jc3iedm-simple-types.xsd"/>
	<xs:include schemaLocation="../../cbml-entity-types/1.0/cbml-entity-types.xsd"/>
	<!-- Concrete Types Definition -->
	<xs:complexType name="ControlFeatureStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-ITEM-STATUS that is a record of condition of a specific CONTROL-FEATURE.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractObjectItemStatus">
				<xs:sequence>
					<xs:element name="InvestigationStatusCode" type="jc3iedm:ControlFeatureStatusInvestigationStatusCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the investigation status of the site encompassed by a specific CONTROL-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CbrnThreatLevelCode" type="jc3iedm:ControlFeatureStatusCbrnThreatLevelCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the assessed CBRN threat level status of a specific CONTROL-FEATURE that defines a given operational area for friendly forces.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecurityStatusCode" type="jc3iedm:ControlFeatureStatusSecurityStatusCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the protection status of the site encompassed by a specific CONTROL-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UsageStatusCode" type="jc3iedm:UsageStatusCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the usage of a specific CONTROL-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherControlFeature">
		<xs:annotation>
			<xs:documentation xml:lang="en">A non-tangible FEATURE of military interest that is administratively specified, may be represented by a geometric figure, and is associated with the conduct of military operations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeature"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherControlFeatureRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherControlFeature - A non-tangible FEATURE of military interest that is administratively specified, may be represented by a geometric figure, and is associated with the conduct of military operations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherControlFeatureType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A non-tangible FEATURE-TYPE of military interest that may be represented as a geometric figure and is associated with the conduct of military operations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureType">
				<xs:sequence>
					<xs:element name="ControlFeatureTypeCategoryCode" type="jc3iedm:ControlFeatureTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of CONTROL-FEATURE-TYPE. It serves as a discriminator that partitions CONTROL-FEATURE-TYPE into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherControlFeatureTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherControlFeatureType - A non-tangible FEATURE-TYPE of military interest that may be represented as a geometric figure and is associated with the conduct of military operations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Geographic Feature Types -->
	<xs:complexType name="GeographicFeature">
		<xs:annotation>
			<xs:documentation xml:lang="en">A FEATURE describing terrain characteristics to which military significance is attached.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeature">
				<xs:sequence>
					<xs:element name="BottomHardnessCode" type="jc3iedm:GeographicFeatureBottomHardnessCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A specific value that represents the subjective indication obtained by a diver of the hardness of the liquid/solid surface interface and is the result of a single arm thrust.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BottomPenetrationQuantity" type="jc3iedm:QuantityType3_2" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the depth to which a diver is able to thrust his fist or fingers into the surface of the solid/liquid interface. The unit of measure is metres.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SolidSurfaceCompositionCode" type="jc3iedm:GeographicFeatureSolidSurfaceCompositionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the composition of the surface of the GEOGRAPHIC-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SurfaceCategoryCode" type="jc3iedm:GeographicFeatureSurfaceCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the type of surface of the GEOGRAPHIC-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TerrainCode" type="jc3iedm:GeographicFeatureTerrainCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents a tract of land.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VegetationCategoryCode" type="jc3iedm:VegetationCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the general vegetation class on a specific GEOGRAPHIC-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VegetationSubcategoryCode" type="jc3iedm:VegetationSubcategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the detailed vegetation class on a specific GEOGRAPHIC-FEATURE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeographicFeatureRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some GeographicFeature - A FEATURE describing terrain characteristics to which military significance is attached.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeographicFeatureType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A FEATURE-TYPE that describes terrain characteristics to which military significance is attached.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="GeographicFeatureTypeCategoryCode" type="jc3iedm:GeographicFeatureTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of GEOGRAPHIC-FEATURE-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeographicFeatureTypeSubcategoryCode" type="jc3iedm:GeographicFeatureTypeSubcategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the detailed class of GEOGRAPHIC-FEATURE-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeographicFeatureTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some GeographicFeatureType - A FEATURE-TYPE that describes terrain characteristics to which military significance is attached.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeatureTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LiquidBodyStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GEOGRAPHIC-FEATURE-STATUS that is a record of condition of a specific liquid body.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeographicFeatureStatus">
				<xs:sequence>
					<xs:element name="BottomCurrentRate" type="jc3iedm:RateType4_1" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the rate of the liquid movement at the bottom surface of the sea. The unit of measure is knots. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ThermalLayerDepthQuantity" type="jc3iedm:QuantityType4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the distance below the liquid surface where the distinct interface between surface waters and cooler waters; regions between warmer upper layer (epilimnion) and the lower cold layer (hypolimnion) of the liquid where temperature declines abruptly (1 degree C or more per meter) with increasing depth. The unit of measure is metres.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TidalStreamRate" type="jc3iedm:RateType4_1" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the horizontal water movements due to tidal forcing. The unit of measure is knots. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnderwaterVisibilityQuantity" type="jc3iedm:QuantityType4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that represents the distance at which an object disappears given the ambient light, suspended organic and inorganic particulate measure, dissolved substances, plankton and the waters molecular structure. The unit of measure is metres.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LiquidSurfaceStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GEOGRAPHIC-FEATURE-STATUS that is a record of condition of a specific liquid surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeographicFeatureStatus">
				<xs:sequence>
					<xs:element name="SeaStateCode" type="jc3iedm:LiquidSurfaceStatusSeaStateCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents a range of wave heights on a specific liquid surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SurfaceConditionCode" type="jc3iedm:LiquidSurfaceStatusSurfaceConditionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the physical status of a liquid surface area.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WaveDirectionCode" type="jc3iedm:DirectionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the direction of waves in a specific liquid surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SolidSurfaceStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">A GEOGRAPHIC-FEATURE-STATUS that is a record of condition of a specific solid surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractGeographicFeatureStatus">
				<xs:sequence>
					<xs:element name="SolidSurfaceStatusCode" type="jc3iedm:SolidSurfaceStatusCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the status of a specific solid surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DemolitionStatusCode" type="jc3iedm:DemolitionStatusCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the status of an object destined for demolition.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SurfaceConditionCode" type="jc3iedm:SolidSurfaceStatusSurfaceConditionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the physical status of a solid surface area.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SurfaceFirmnessCode" type="jc3iedm:SolidSurfaceStatusSurfaceFirmnessCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the firmness of a surface area, in terms of its ability to support land vehicles or helicopters.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VegetationCategoryCode" type="jc3iedm:VegetationCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the general vegetation class of a specific SOLID-SURFACE-STATUS.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VegetationSubcategoryCode" type="jc3iedm:VegetationSubcategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the detailed vegetation class of a specific SOLID-SURFACE-STATUS.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Meteorologic Feature Types -->
	<xs:complexType name="CloudCover">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the characteristics of clouds above Earth's surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="CloudCoverCategoryCode" type="jc3iedm:CloudCoverCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the prevailing class of a specific CLOUD-COVER.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the elevation of the lowest cloud base for a specific CLOUD-COVER.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TopDimension" type="jc3iedm:DimensionType12_3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the elevation of the highest cloud ceiling for a specific CLOUD-COVER.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AverageCoverageCode" type="jc3iedm:CloudCoverAverageCoverageCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the average density of a specific CLOUD-COVER as fractional coverage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LightRefractionRatio" type="jc3iedm:RatioType7_6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric quotient value that represents the velocity of light in a specific CLOUD-COVER as a fraction of the velocity of light in a vacuum, based on cloud height. This represents the inverse of the index of refraction. The value must be in the range from 0 to 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CloudCoverRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some CloudCover - A METEOROLOGIC-FEATURE that specifies the characteristics of clouds above Earth's surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Icing">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the accumulation of frozen water on stationary or moving surfaces.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="IcingCategoryCode" type="jc3iedm:IcingCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of a particular ICING.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeverityQualifierCode" type="jc3iedm:IcingSeverityQualifierCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the severity of a particular ICING.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IcingRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Icing - A METEOROLOGIC-FEATURE that specifies the accumulation of frozen water on stationary or moving surfaces.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Precipitation">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the type of particulate matter in the Earth's atmosphere and the rate of its descent onto the Earth's surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="PrecipitationCategoryCode" type="jc3iedm:PrecipitationCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the prevailing class of a specific PRECIPITATION.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rate" type="jc3iedm:RateType4_1" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the amount of PRECIPITATION deposited per unit time. The unit of measure is millimetres per hour. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrecipitationRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Precipitation - A METEOROLOGIC-FEATURE that specifies the type of particulate matter in the Earth's atmosphere and the rate of its descent onto the Earth's surface.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Visibility">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the distance at which an object illuminated by light in the visual spectrum can be detected.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="VisibilityCategoryCode" type="jc3iedm:VisibilityCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of obscurant that governs a particular VISIBILITY.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DirectionCode" type="jc3iedm:DirectionCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the direction for which a specific VISIBILITY is valid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RangeDimension" type="jc3iedm:DimensionType12_3">
						<xs:annotation>
							<xs:documentation xml:lang="en">The one-dimensional linear distance representing the distance which can be surveyed using visual observation for a specific VISIBILITY.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VisibilityRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Visibility - A METEOROLOGIC-FEATURE that specifies the distance at which an object illuminated by light in the visual spectrum can be detected.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AirRouteSegment">
		<xs:annotation>
			<xs:documentation xml:lang="en">A portion of a route to be flown usually without an intermediate stop, as defined by two consecutive significant points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRouteSegment">
				<xs:sequence>
					<xs:element name="RequiredNavigationPerformanceCode" type="jc3iedm:AirRouteSegmentRequiredNavigationPerformanceCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the required navigation performance when flying routes for which external route navigation aids are not provided.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CivilMilitaryCode" type="jc3iedm:AirRouteSegmentCivilMilitaryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the civil/military status of the AIR-ROUTE-SEGMENT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InternationalRouteCode" type="jc3iedm:AirRouteSegmentInternationalRouteCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the domestic/international status of the AIR-ROUTE-SEGMENT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaintainedSpeedRate" type="jc3iedm:RateType8_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the speed of movement to be maintained between route points. The unit of measure is kilometres per hour. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AirRouteDescriptionText" type="jc3iedm:TextTypeVar255" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string assigned to represent the description of specific AIR-ROUTE-SEGMENT.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AirRouteSegmentRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some AirRouteSegment - A portion of a route to be flown usually without an intermediate stop, as defined by two consecutive significant points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRouteSegmentRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AirspaceControlMeans">
		<xs:annotation>
			<xs:documentation xml:lang="en">A CONTROL-FEATURE that reserves airspace for specific airspace users, restricts the action of airspace users, controls the actions of specific airspace users, and/or requires airspace users to accomplish specific actions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeature"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AirspaceControlMeansRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some AirspaceControlMeans - A CONTROL-FEATURE that reserves airspace for specific airspace users, restricts the action of airspace users, controls the actions of specific airspace users, and/or requires airspace users to accomplish specific actions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherRouteSegment">
		<xs:annotation>
			<xs:documentation xml:lang="en">A portion of a route usually without an intermediate stop, as defined by two consecutive significant points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRouteSegment"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherRouteSegmentRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherRouteSegment - A portion of a route usually without an intermediate stop, as defined by two consecutive significant points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractRouteSegmentRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Route">
		<xs:annotation>
			<xs:documentation xml:lang="en">A CONTROL-FEATURE that is the prescribed course to be travelled from a specific point of origin to a specific destination.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeature">
				<xs:sequence>
					<xs:element name="DirectionUsageCode" type="jc3iedm:RouteDirectionUsageCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the assigned direction for the traffic on the route.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MobilityCode" type="jc3iedm:MobilityCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that indicates the suitability of a specific ROUTE for movement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ModeOfTransportationCode" type="jc3iedm:ModeOfTransportationCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that indicates the mode of transportation of a specific ROUTE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RouteRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Route - A CONTROL-FEATURE that is the prescribed course to be travelled from a specific point of origin to a specific destination.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RouteType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A CONTROL-FEATURE-TYPE that is the prescribed course to be travelled from a point of origin to a destination.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureType">
				<xs:sequence>
					<xs:element name="RouteTypeCategoryCode" type="jc3iedm:RouteTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of ROUTE-TYPE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RouteTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some RouteType - A CONTROL-FEATURE-TYPE that is the prescribed course to be travelled from a point of origin to a destination.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractControlFeatureTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherFeature">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-ITEM that encompasses meteorological, geographic, and control features of military significance.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeature">
				<xs:sequence>
					<xs:element name="FeatureCategoryCode" type="jc3iedm:FeatureCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of FEATURE. It serves as a discriminator that partitions FEATURE into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherFeatureRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherFeature - An OBJECT-ITEM that encompasses meteorological, geographic, and control features of military significance.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- Meteorologic Feature Types -->
	<xs:complexType name="Atmosphere">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies humidity, pressure, and temperature characteristics of Earth's atmosphere.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="HumidityRatio" type="jc3iedm:RatioType6_5" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric quotient value that represents the proportion of water present in the air to the maximum amount of water (saturation point) possible at a given temperature and pressure. The value must be in the range from 0 to 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InversionLayerCode" type="jc3iedm:AtmosphereInversionLayerCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the height of the inversion layer in the atmosphere. The stability class describes the degree of mixing of released material in the atmosphere.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PressureQuantity" type="jc3iedm:QuantityType8_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the ambient air pressure in terms of force per unit area. The unit of measure is kPa (Kilopascals).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PressureSystemCategoryCode" type="jc3iedm:AtmospherePressureSystemCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of a pressure system in a particular ATMOSPHERE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Temperature" type="jc3iedm:TemperatureTypeRangeTemperature5_1" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that indicates the heat of the ambient air for a specific ATMOSPHERE.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TemperatureGradientCode" type="jc3iedm:AtmosphereTemperatureGradientCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents heat change with respect to the ground and 100 m in elevation in a certain area. Acts as an indication of vertical air movement between the ground and higher elevations.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtmosphereRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Atmosphere - A METEOROLOGIC-FEATURE that specifies humidity, pressure, and temperature characteristics of Earth's atmosphere.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Light">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the availability of natural illumination by type and time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="LightCategoryCode" type="jc3iedm:LightCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of LIGHT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UpDatetime" type="jc3iedm:DatetimeTypeFix18" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string representing a point in time that designates the time of day that marks the beginning of the period of effectiveness of the specified type of LIGHT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DownDatetime" type="jc3iedm:DatetimeTypeFix18" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The character string representing a point in time that designates the time of day that marks the end of the period of effectiveness of the specified type of LIGHT.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoonPhaseCode" type="jc3iedm:LightMoonPhaseCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the phase of the moon for a specific LIGHT.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LightRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Light - A METEOROLOGIC-FEATURE that specifies the availability of natural illumination by type and time.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherMeteorologicFeature">
		<xs:annotation>
			<xs:documentation xml:lang="en">A FEATURE that describes reported or forecast weather and light conditions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="MeteorologicFeatureCategoryCode" type="jc3iedm:MeteorologicFeatureCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of METEOROLOGIC-FEATURE. It serves as a discriminator that partitions METEOROLOGIC-FEATURE into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherMeteorologicFeatureRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherMeteorologicFeature - A FEATURE that describes reported or forecast weather and light conditions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Wind">
		<xs:annotation>
			<xs:documentation xml:lang="en">A METEOROLOGIC-FEATURE that specifies the velocity and directional characteristics of atmospheric movement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeature">
				<xs:sequence>
					<xs:element name="WindCategoryCode" type="jc3iedm:WindCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of WIND.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AirStabilityCategoryCode" type="jc3iedm:WindAirStabilityCategoryCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value used to indicate the class of air stability.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AltitudeLayerCode" type="jc3iedm:WindAltitudeLayerCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value used to indicate the class of the altitude for a specific set of reported wind data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DirectionAngle" type="jc3iedm:AngleTypeRangeAngle7_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The rotational measurement clockwise between the line of true North and the direction from which a specific WIND originates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EffectiveDownwindDirectionAngle" type="jc3iedm:AngleTypeRangeAngle7_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The rotational measurement of the mean downwind direction at ground level in the hazard area towards which the cloud travels.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpeedRate" type="jc3iedm:RateType8_4" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The numeric value that denotes the distance per unit time of a specific WIND. The unit of measure is kilometres per hour. The specified value must be greater than or equal to 0 (zero).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NuclearYieldQualifierCode" type="jc3iedm:NuclearYieldGroupCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value used to identify predicted wind values associated with nuclear fallout prediction for a specific Nuclear yield group.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WindRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some Wind - A METEOROLOGIC-FEATURE that specifies the velocity and directional characteristics of atmospheric movement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractMeteorologicFeatureRef"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherFeatureType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An OBJECT-TYPE that encompasses meteorological, geographic, and control features of military significance.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="FeatureTypeCategoryCode" type="jc3iedm:FeatureTypeCategoryCode">
						<xs:annotation>
							<xs:documentation xml:lang="en">The specific value that represents the class of FEATURE-TYPE. It serves as a discriminator that partitions FEATURE-TYPE into subtypes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherFeatureTypeRef">
		<xs:annotation>
			<xs:documentation xml:lang="en">A reference to some OtherFeatureType - An OBJECT-TYPE that encompasses meteorological, geographic, and control features of military significance.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cbml:AbstractFeatureTypeRef"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
